<div class="row">
    <div class="col-lg-2 pull-right">
        <%= link_to 'View Broker Details', user_datum_path(current_user,@datum), class: 'btn btn-sm btn-primary pull-right' %>
    </div>
</div>
<div class="small-margin-top">
    <%= render 'form' %>
</div>
